.enderecos {
    background: var(--cor-de-fundo);
    color: var(--cor-tercearia);
    text-align: center;
    line-height: 1.4;
}

.enderecos__itens {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 2.5em 2em;
  }


.enderecos__titulo {
    margin: 1em 0 0 0;
    color: var(--cor-de-titulos);
    font-weight: 500;
    font-size: 24px;
    font-family: var(--fonte-logo);
  }

  .enderecos__link {
    text-decoration: none;
    color: inherit;
}

  .enderecos__cidade {
    font-weight: 700;
  }

  @media only screen and (min-width: 820px) {

    .enderecos {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }

    .enderecos__titulo {
      font-size: 40px;
      margin: 6% 0 10% 0;
    }

    .enderecos__item {
      align-items: center;
    }

    .enderecos__link {
      display: flex;
      flex-direction: column;
      background: var(--cor-de-fundo--clara);
      box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      width: 45%;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 17px;
    }


    .enderecos__itens {
      display: flex;
      flex-direction: row;
      height: 45%;
      justify-content: space-between;
      align-items: space-between;
      flex-wrap: wrap;
    }

    .enderecos__link:hover {
      background: var(--cor-secundaria);
      color: var(--branco);
  }
    
  
  }
